## Introduction to python

In [ ]:
#Python is an interpreted and a high level programming language
#created by Guido Van Rossum in 1989
#features of python :-
#1- it is interpreted and is platform independent- means it can be used in windows, linux, mac 
#2- it is open source programming language
#3- support all big library
#4- it has built in module and external module

In [ ]:
print("hello world")# when we use round brackets () we use a function with it, 
#means print is a function ("hello world") is a input parameter or value

In [ ]:
#ways of running a cell
#1- ctrl+enter- runs the code and stays on the same cell
#2- shift+ enter- runs the code and comes to the next cell

In [ ]:
#backslash'\'- treats the following character having special significance
# "\n" - next line character
# "\t" - tab character

In [ ]:
print("how is this session", "\n", "is it good?" ) # came to next line

In [ ]:
print ("how is the session", "\t", "is it bad") # gave space(tab) between two sentence

#VALUES AND VARIABLES

In [ ]:
#create a variable with a name and assign a value to it
count_of_glass= 15 #count_of_glass is th variable name and 15 is the value stored in the variable

In [ ]:
#varaible is a storage space
#Variables can store data of different types, and different types can do different things.
#focus on the type of datatype assigned to the variable
#type of varaible will result in the type of mathematical operation

# DATATYPES:-

In [ ]:
#integar- int - without decimal numeric type
#float- with decimal numeric type, float can also be scientific numbers with an "e" to indicate the power of 10.
#boolean- true/false- bool
#string- str- "strings can be created using single or double quotes"- text type
#list, tuple, range- Sequence Type
#compex- Complex numbers are written with a "j" as the imaginary part:3+5j, -5j

In [ ]:
number_of_sheets=15
print(number_of_sheets)
weight_of_sheets= 2.8
print(weight_of_sheets)
wish = "wish me luck"
print(wish)
greator=(10>5)
print(greator)
lessor= (10<2)
print(lessor)

In [ ]:
#to know the datatyoes of value we can use the command type()

In [ ]:
type(15)

In [ ]:
type(lessor)

In [ ]:
type("wish me luck")

In [ ]:
type(2.8)

#OPERATOR

In [ ]:
#Arithmatic operator
# + addition 15+10
# - substraction 15-10
# * multiplictaion 15*10
# / divison 15/10 #gives us the quotient
# % modulas 15% 7 #givess us the remainder 
# // floor division 15//3 #roundsoff the result down to the nearest integer
# ** exponential 15**3 #means cube of 15= 15*15*15

In [ ]:
#difference between equality operator "==" and assignment operator "="

#x=1 means assigning the value 1 in x variable
#x==1 means comparing two values or variable

In [ ]:
#lets assign value to a variable

temperature= 40
day=("friday")
month= "december"

print(temperature, day, month)

In [ ]:
#now we will use equality and assignment operator
temperature==40

In [ ]:
temperature==20

In [ ]:
month=="jan"

In [ ]:
day==("friday")

In [ ]:
#boolean can be converted to numbers
#true becomes 1 #false becomes 0 #true+true+false = 1+1+0= 2

In [ ]:
#USE OF VARAIBLE AND OPERATORS

In [ ]:
X= 10
Y= 20
P= 2
Q= 8
sum_values= X+Y+P+Q
print(sum_values)

In [ ]:
cost_p= 5000
selling_p=7000
profit= selling_p-cost_p
print(profit)

In [ ]:
no_of_books= 50
cp_books= 75
total_amount= no_of_books* cp_books
print(total_amount)
cp_1book= total_amount/ no_of_books
print(cp_1book)

In [ ]:
profit= (cost_p >selling_p)
print(profit)

In [ ]:
a= 850
b=3
quotient=a/b
print("quotient", quotient)

In [ ]:
remainder= a%b
print("remainder",remainder)

In [ ]:
#power operator
2**5

In [ ]:
(5 - 1) * ((7 + 1) / (3 - 1)**2) #order of operation: PEMDAS
(paranthesis exponents multiplication division addition and subtraction)

In [ ]:
#precission 
10/3

In [ ]:
round(10/3, 3)# it rounds of the value by givving us the desired result after point as per our given direction i.e 3 
#in this case

In [ ]:
#TYPECASTING IN PYTHON
#The conversion on one data type into the other data type is called typecast

In [ ]:
temperature= 40
type(temperature)

In [ ]:
str(temperature)

In [ ]:
float(temperature)

In [ ]:
complex(temperature)

In [ ]:
name= "payal"
type(name)

In [ ]:
list(name)

In [ ]:
tuple(name)

In [ ]:
set(name)

In [ ]:
#CONCATENATE means obtaining a new string which contains both of the original strings
#in order to merge two strings we use + operator

In [ ]:
element_1= "water"
element_2= "sun"
element_3= "air"
print= element_1+element_2+element_3

##OPERATORS

In [ ]:
OR- addition (|)
AND- multiplication (&)
Not operator (!)
A   B   A or B     A   B   A&B
T   F   TRUE       T   F   FALSE
F   T   TRUE       F   T   FALSE
T   T   TRUE       F   F   FALSE
F   F   FALSE      T   T   TRUE

In [ ]:
False | False, True or True, True or False, False or True # we can use "or" "|" "and" "&"

In [ ]:
False and False, True & True, True & False, False & True # we can use "or" "|" "and" "&"

In [ ]:
False and True

In [ ]:
not True #using not operator

In [ ]:
not False

In [ ]:
t= True
not t

In [ ]:
not(not(True and True)) #combining not with and opeartor

In [ ]:
not (True and False)

In [ ]:
not(not(False or True)) #combining not with or operator

In [ ]:
not (True or False)

In [ ]:
a= 3
a

In [ ]:
#check if a has the value of 3 
a==3

In [ ]:
a==5

In [ ]:
market_price= 80
selling_price= 980
total_exp= 980
selling_price== total_exp

In [ ]:
selling_price==market_price

In [ ]:
980 == total_exp

In [ ]:
# Olympic champion Neeraj Chopra throws Javelin 89.3 m in a practice session
# he held the previous national record of 88.07m
last_throw =89.3
national_record = 88.07

# check if his last throw matched his previous record
last_throw >= national_record

In [ ]:
name_inform = "payal suryawanshi"
name_inaadhar = "payal suryawanshi"
#check if the name is same in form and aadhar
name_inform == name_inaadhar

In [ ]:
name_inform = "Payal Suryawanshi"
name_inaadhar = "payal suryawanshi"

name_inform== name_inaadhar
#checking with upper case and lower case

In [ ]:
#creating a variable for cutoff marks in a university, comparing the marks and checking the eligibility

cut_off= 98

marks_maths= 86
marks_english= 99
marks_social= 98
marks_sanskrit= 90

#checking if marks is greator than or equal to cut off marks
marks_maths>= cut_off, marks_english>= cut_off, marks_social>=cut_off, marks_sanskrit>= cut_off

#using operator greator than to compare the values

In [ ]:
# Banks approve loans if the EMI due is less than half of the applicant's take home salary per month
# create a variable for take home salary
salary_of_employee= 8000
emi= 4000

#check if bank will provide loan or reject the loan
emi< salary_of_employee/2

# IF STATEMENT

In [ ]:
i=5
if(i>10):
    print("i is greator than 10")
else:
    print("i is less than 10")

In [ ]:
marks= 100
cut_off = 120
if(marks> cut_off):
    print("you can be admitted to the college")
else:
    print("you can not be admitted to the college")

In [ ]:
height_m= float(input("enter height in meter"))
weight_kg= float(input("enter weight in kg"))
BMI= weight_kg/(height_m**2)
if(BMI<=18.5):
    print("you are under weight")
elif(24.9>=BMI>=18.5):
    print("you are healthy")
elif(29.9>=BMI>=25):
    print("you are overweight")
else:
    print("you are obese")

In [ ]:
# writing the same check in different ways
# consider the previous exercise related to pass marks of 40.
# create a variable to store marks, say the student scored 78
# we can test for Fail result using <= 39
# or Fail result as < 40

In [ ]:
marks_scored= int(input("enter the marks"))

if(marks_scored>39):
    print("pass")
else:
    print("fail")

In [ ]:
# Even numbers are divisible by 2. This means the remainder from a division by 2 is zero.
# create a variable to hold a number. how can we check if this number is an even number?

In [ ]:
number= int(input("enter the number"))
if(number%2==0):
    print("the no is even")
else:
    print("the no is odd")

In [ ]:
# create a variable to hold a number
# can you check if this number is divisible by 7?

In [ ]:
the_number= int(input("enter the number"))
if(the_number%7==0):
    print("number is divisible by 7")
else:
    print("number is not divisible by 7")

In [ ]:
#now we will try to print the value using variable

In [ ]:
height=100
admission= ""

if(height>200):
    admission= "admitted"
elif(height<200):
    admission= "not admitted"
print(admission)

In [ ]:
# in universities, the following classifications are used: < 40 Fail, 40-59 is Pass, 60-74 First Class
# 75 or more is Distinction
# can you implement this as a series of if statements?

In [ ]:
passing_marks= int(input("enter your marks"))
if(passing_marks<40):
    print("fail")
elif((passing_marks>=40) and (passing_marks<=59)):
    print("pass")
elif((passing_marks>=60) and (passing_marks<=74)):
    print("first class")
elif(passing_marks>=75):
    print("hurray! distinction")

In [ ]:
# Exercise:
# A country set up this protocol for their spies. Their field agents will call a toll free number.
# They will get a harmless voice message that says it is Destination Anywhere and asks them to leave a message.
# In response the caller states their password.
# if the password is a valid one, a human operator comes online and greets them with their name
# In this elite team, there are only three agents alive now. Imagine names, passcodes and implement this.
# use only if statements

In [ ]:
print("Destination anywhere welcomes you, leave a message")
password=(input("enter the password"))
pass_1= "Africa_1"
pass_2= "Europe_2"
pass_3= "rome_3"

if( (password==pass_1) or (password==pass_2)or (password==pass_3)):
    print("welcome onboard")
else:
    print("entry denied")

In [ ]:
#trying to greet them with the names

In [ ]:
print("Destination anywhere welcomes you, leave a message")
password=(input("enter the password"))
pass_1= "Africa_1"
pass_2= "Europe_2"
pass_3= "rome_3"
if((password==pass_1) or (password==pass_2)or (password==pass_3)):
    print("welcome onboard")
    if (password=="Africa_1"):
        print("welcome to head quaters, stewie!!")
    if (password== "Europe_2"):
        print("welcome to the town hall, chandler!!")
    if (password== "rome_3"):
        print("welcome to the den, ross!!")
else:
    print("restricetd")

In [ ]:
# Exercise:
# a restaurant asks customer for rating on each of ambience, food, and service
# customer enters a rating 8 to 10 they are satisfied 6-7 is neutral and lesser rating is dissatisfied
# in the end, print a summary like: you were satisfied with our food and ambience but neutral on service


# how to implement:
# ask for rating using three input statements
# using if-elif generate the output

ambience= int(input("enter your feedback:"))
if (8<=ambience<=10):
    print(" customer is happy")
elif(6<ambience>=7):
        print("customer is somewhat happy")
elif(ambience<6):
    print( "customer is angry")

In [ ]:
# Exercise:
# Regarding the diastolic blood pressure:
#Normal: Lower than 80
#Stage 1 hypertension: 80-89
#Stage 2 hypertension: 90 or more
# Call for help: 120 or more


diastolic_reading= int(input("enter you diastolic blood pressure reading:"))
if diastolic_reading<80:
    print("your blood pressure is normal")
elif 80<= diastolic_reading<=89:
    print(" stage 1 hypertension")
elif 90<= diastolic_reading:
    print("stage 2 hypertension")
if 120<= diastolic_reading:
    print ("call for help")

In [ ]:
name = input("Enter your name\n")
print("Good Afternoon, " + name)

In [ ]:
x= 4
y= 5
if(x> 10):
    print("greator")
else:
    print("lessor")

In [ ]:
x= 4
y= 5
if(x*y> 10):
    print("greator")
else:
    print("lessor")

In [ ]:
x= -1
if(x>=-1):
    if(x==5):
        print("true")
    else:
        print("false")
else:
    print("negative")

In [ ]:
x= -1
if(x>=0):
    if(x==5):
        print("true")
    else:
        print("false")
else:
    print("negative")

In [ ]:
x= 5
if(x>=0):
    if(x==5):
        print("true")
    else:
        print("false")
else:
    print("negative")

In [ ]:
#assigning a variable name for marks
#comparing the marks and substituting the value with respect to the marks using if, elif and else statments

marks= 85
if(marks>=75):
    print("distinction")
elif ((marks>=60)or(marks<=60)):
    print("first class")
else:
    print("fail")

In [ ]:

#assigning value to multiple varaible

a=b=c=d= 5
if(a==d):
    print("true")

In [ ]:
total_math=total_chem=total_phy= 100
maths=56
chem=63
phy=70

#calculating % of each subject
maths_per= maths*total_math/100
print("maths percentage", maths_per, "%")
chem_per= chem*total_chem/100
print("chem percentage", chem_per, "%")
phy_per= phy*total_phy/100
print("phy percentage", phy_per, "%")

In [ ]:
#assignong multiple values to multiple variable

hindi_sum,sanskrit_sum,telegu_sum=120,150,180
hindi_score= 95
sanskrit_score=70
telegu_score= 120

#calculating % of each subject
per_hindi= hindi_score*hindi_sum/100
print(per_hindi,"%")
per_sanskrit= sanskrit_score*sanskrit_sum/100
print(per_sanskrit,"%")
per_telegu= telegu_score*telegu_sum/100
print(per_telegu,"%")

In [ ]:
total_marks = [125,100,200]
total_math, total_chem, total_phy = total_marks
print(total_math)
print(total_chem)
print(total_phy)
#assiging a list to multiple variable, each varaible gets assigned the values from the list

#                                       ## update variable

In [ ]:
#we can update the assigned value of variable by doing some changes as follows

virat_score= 123
virat_score= virat_score+27
print(virat_score)

In [ ]:
virat_score=50
virat_score+=20
print(virat_score)

In [ ]:
#to calculate the total no of marks scored by each 5 student 

std=0
std+=20#1
std+=25#2
std+=30#3
std+=24#4
std+=20#5
print(std)

In [ ]:
#calculate the total no of runs scored by team india

virat=jadeja=rohit=dhavan=0
virat+=10
jadeja+=50
virat+=2
rohit+=20
dhavan+=50
rohit+=20
print(virat, rohit, dhavan, jadeja)

In [ ]:
# shortcut updates are available for +, -, * and /

x=5
x+=20
print(x)

y=5
y-=2
print(y)

z=20
z/=5
print(z)

q=5
q*=4
print(q)

In [ ]:
#python loops
#while loops- it simply loops until the satament is false
#for loop- for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
#initialization
#condition
#increment/decrement

In [ ]:
# while - else loop
num = 5
i = 1
while (i <= num): #the statement will run until i becomes 6
    print(i)
    i += 1
else:
    print("else:",i) #will print after i turns more than 5

In [ ]:
#write a program to print only number from 1 to n

number=int(input("enter the n number upto which you waant to print even number"))
i=2 #assigning the value 2 in i as 2 is even number so it will start from 2
while(i<=number):
    print(i)
    i=i+2  #here i am using incremnt operator and increasing the value of i by 2 so that it will end up giveing even number
    #as a result

In [ ]:
#by using the above concept we will calculate sum of even numbeer upto n

number=int(input("enter the number"))
i=2 #as we are working for even number
sum=0 # creating a variable and assiging 0 to it
while(i<=number):
    sum=sum+i
    i=i+2 #as we want even no so we will use 2 to increment the value of i
    print("sum of even numbers", sum)
    #the statement will get executed till the value of i is less than the given no in this case i should be less thn 10,
    #as soon as the no turns to 12 it will stop the while loop

In [ ]:
#break terminates the execution of the whole loop and does not allow the loop to run further
#continue terminates the execution of a perticular loop and again starts running the loop from the start

In [ ]:
#lets check the break statment

i=1
while(i<=5):
    if(i==4):
        break
    else:
        print(i)
        i=i+1  #output means that it will run untill the no is less than 4 and as soon as the no turns 4 and 
        #atisfy the if equation it will go to break and terminate the whole while loop .

In [ ]:
#lets check continue statement

i=0
while(i<=5):
    i=i+1
    if(i==3):
        continue
    print(i) #in case of continue the moment i turns to three it will not print the value and instead it will 
    #terminate the current result with out passing it to the lower line and will start running the loop from the beiging 
    #so that is the reason 3 did not got printed but 3 got initialized to i and got incremented to 4, and 4 got printed

In [ ]:
# while - continue
# continue stops the current loop and initiate the next loop

stop_at = 6
i = 0
skip_this = 4

while (i <= stop_at):
    if (i== skip_this):
        i += 1
        continue
    else:
        print(i)
        i += 1

In [ ]:
num= 8971309425
num//10 #will give you the quotient and will also give integar value or will remove the values after decimal

In [ ]:
num=8971309425
num%10 #will give you the remainder value

In [ ]:
# print the digits of a given number
num = 8971309425

while (num != 0): #the reason we gave num!= 0, beacuse we want to run the while loop untill the no ends up being zero
    last_digit = num % 10 #give remainder , last digit of the number
    print(last_digit)
    num = int(num/10) #give quotient, except the last digit
    print ("number now is ", num)

In [ ]:
# total the digits of a given number
num = 8971309425

total = 0
while (num != 0):
    last_digit = num % 10
    print(last_digit)
    total = last_digit+total
    num = int(num/10)
    print(num)
print("total of digits:", total)

##for loop

In [ ]:
syntax: #for i in range (start value, end value):
        #for i in range (start value, end value, jump or skip value):

In [ ]:
#to print number from 1 to 10 using for loop

for i in range (1,11):
    print(i)

In [ ]:
#to print number from 10 to 1 using for loop

for i in range (10,0,-1): #start value= 10, end value=0, skip value= -1
    print(i)

In [ ]:
for i in range(1,11):
    print("3 x ",i, " = ", 3*i)

In [22]:
# examples of string type variables

gender = "Male"
mood = "awesome"
forecast = "The weather is going to be great this weekend"
index = "12"
result = "correct"

In [23]:
weather ="awesome"
len(weather)

7

In [24]:
mood= "i am doing good"
len(mood)

15

In [ ]:
#Python Collections (Arrays)
#There are four collection data types in the Python programming language:

#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
##list
#List items are ordered, changeable, and allow duplicate values.
#List items are indexed, the first item has index [0], the second item has index [1] etc.
#ordered-it means that the items have a defined order, and that order will not change.
#changeable- The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

list=["payal", "balu", "nammu"]
print(list)

In [ ]:
#list Length
#To determine how many items a list has, use the len() function:

list=["payal","balu","nammu"]
print(len(list))

In [ ]:
#list can be of any datatypes
list_1= ["nammu", "payal","balu"]
list_2= [15, 30, 1]
list_3= [True, False]
#list can also contain diff data types 

list_difftypes= ["payal", 30, True, "butter"]

In [ ]:
# remove select element "a"
lst = [1,2,3,"payal"]
del(lst[2])
lst

In [ ]:
# Mutability of Lists
# updating list elements, here is a replace example
lst = [1,2,3,4,5,6,7,8,9,10]
lst[2] = 12
lst  #means we have to specify the index no to the variable name to change the value in the list

In [ ]:
# list with lists as elements
lstolst = [[1,2],[3,4],[5,"a"]]
type(lstolst) # to know the type

# lists and Strings
-----------------
A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list 
Strings are immutable. 
When using strings, bracket operators cannot be used on the left side of an assignment with the intention
of changing that string.
Lists are mutable. Unlike strings, you can use the bracket operator on the left side of the assignment to change 
an element in a given list.

In [ ]:
# compare lists
txt1 = ["Python", "is", "the", "best"]
txt2 = ["PYTHON", "is", "the", "best"]
txt3 = ["Python", "is", "the", "best"]

In [ ]:
txt1 == txt2, txt1 == txt3

In [ ]:
#The collections.Counter() class can be used to compare lists. The counter() function counts the frequency of the items in a list and stores the data as a dictionary object in the format value:frequency. If two lists have the same dictionary output, you can infer that the lists are the same.

# note: dictionary type will be covered in a separate session. for now just see it as a name:value pairs

In [ ]:
import collections

l1 = [10, 20, 30, 40, 50]
l2 = [20, 30, 50, 40, 70]
l3 = [50, 20, 30, 40, 10]

if collections.Counter(l1) == collections.Counter(l2):
    print ("The lists l1 and l2 are the same")
else:
    print ("The lists l1 and l2 are not the same")

if collections.Counter(l1) == collections.Counter(l3):
    print ("The lists l1 and l3 are the same")
else:
    print ("The lists l1 and l3 are not the same")

In [ ]:
#Given two lists, find the missing and additional values in both the lists. Examples:
list1 = [1, 2, 3, 4, 5, 6] 
list2 = [4, 5, 6, 7, 8] 
# prints the missing and additional elements in list2
print("Missing values in second list:", (set(list1).difference(list2)))
print("Additional values in second list:", (set(list2).difference(list1)))
 
# prints the missing and additional elements in list1
print("Missing values in first list:", (set(list2).difference(list1)))
print("Additional values in first list:", (set(list1).difference(list2)))

# Dictionary
#Dictionaries are used to store data values in key:value pairs.
#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
#Dictionary Items
#Dictionary items are ordered, changeable, and does not allow duplicates.
#Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
dict={"actor":"prabhas", "movie": "bahubali", "status":"blockbuster"}
print(dict)

In [ ]:
dict={"actor":"prabhas", "movie": "bahubali", "status":"blockbuster"}
print(dict['status'])

In [ ]:
#When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
#Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.
#Duplicate values will overwrite existing values, ictionaries cannot have two items with the same key:

In [ ]:
dict={"actor":"prabhas", "movie": "bahubali", "status":"blockbuster", "status":"flop"}
print(dict['status'])

In [ ]:
##Print the number of items in the dictionary:we use print(len(dict))

In [ ]:
print(len(dict))

In [ ]:
print(type(dict)) #to find the data type of dictionary

In [ ]:
# Creating a Dictionary with Mixed keys
Dict = {'Country': 'India', 1: [1, 9, 4, 7]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

In [ ]:
# dictionary is a very useful data type
products = {'Modelname':['AA','BB','CC'], 'MakeYear':[2014,2015,2016]}
print(type(products))
print(products)
print(products["Modelname"])

In [ ]:
college_grades={'harry':[20,18,26],
               'snape':[16,26,39],
               'stewie':[26,39,19]
}
marks_obtatined=0
for name, grade in college_grades.items():
    total=sum(grade)
    print(f'Average for {name} is {total/len(grade):.2f}')

# Numpy

In [ ]:
NumPy is a Python library.

NumPy is used for working with arrays.

NumPy is short for "Numerical Python"

In [ ]:


import numpy as np
np.array([1,2,3])

In [ ]:
a=np.array ([[1,2,3], [3,4,5], [5,6,7]])
a
a= np.zeros ((3,3))
a

In [ ]:
a= np.array(np.random.randint(0,10,(3,3)))
print(a)

In [ ]:
b=np.array(np.random.randint(0,10,(3,3)))
print (b)

In [ ]:
c=np.dot(a,b)
print (c)

In [ ]:
#transpose
a= np.array(np.random.randint(0,10,(3,3)))
print(a)

In [ ]:
#inverse of matrix

a= np.array([[1,2,3], [3,4,5], [5,6,7]])
a

In [ ]:
ainv = np.linalg.inv(a)
ainv

# PANDAS

In [ ]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

In [ ]:
import pandas as pd
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

In [ ]:
def Square(num): #()-(we give perameter ) perameter is any value which you want to use in code
   
    print (num**2)
    
Square(7)

In [ ]:
def Square():#()-(we give perameter ) perameter is any value which you want to use in code
    num=2
    print (num**2)
    
Square()

In [ ]:
# Define a Square Function with default value for paramater
def printNumSquare(num=0.8):
    print (num**5)
printNumSquare()

In [ ]:
# Call the function without passing a single param
printNumSquare(3)

In [ ]:
#A function is a block of code which only runs when it is called.
#You can pass data, known as parameters, into a function.
#A function can return data as a result.

In [ ]:
In Python a function is defined using the def keyword:

In [ ]:
def my_function(fname):
      print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")